@import url('https://unpkg.com/purecss@2.1.0/build/pure-min.css');
html,
body {
  margin: 0;
  width: 100vw;
}
#root,
.App {
  min-height: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
}
.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content {
  color: #363636;
}
.menu-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu';
  transition: all 0.2s ease-out;
  background: white;
  position: relative;
}
.menu-item.first {
  border-bottom: 0;
}
.menu-item.last {
  border-top: 0;
}
.menu-item .name {
  cursor: pointer;
  text-transform: uppercase;
  border-top: 1.5px solid #00000038;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1.5px;
  height: 20px;
  z-index: 1000;
}
.menu-item .content {
  text-align: center;
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - (20px + 10px * 2) - 4rem);
  overflow: scroll;
  padding: 2rem 0;
  background: aliceblue;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.menu-item .content.no-padding {
  padding: 0;
  height: calc(100% - (20px + 10px * 2));
}
.menu-item .content::-webkit-scrollbar {
  display: none;
}
.about-me-title {
  margin-top: 0;
  position: relative;
  margin-bottom: 4rem;
  font-size: 2.5rem;
}
@media (max-width: 414px) {
  .about-me-title {
    margin-left: 2rem;
    align-self: flex-start;
    font-size: 2rem;
  }
}
.about-me-title span {
  position: absolute;
  bottom: -38px;
  white-space: nowrap;
  left: 70%;
}
.about-me-content {
  font-size: 1.4rem;
  text-align: left;
  margin: 0 25vw;
  font-family: 'Montserrat';
  line-height: 2.1rem;
}
@media (max-width: 414px) {
  .about-me-content {
    margin: 0 2rem;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
.about-me-avatar {
  float: left;
  shape-outside: circle();
  max-height: 400px;
  margin-right: 1rem;
  background-image: url(https://ca.slack-edge.com/T025J1W63-U02JM7G74CD-25580d9ab8a3-512);
  border-radius: 500px;
  background-size: cover;
  height: 250px;
  width: 250px;
  shape-margin: 10px;
  box-shadow: 0px 0px 13px 1px #99999936;
}
@media (max-width: 414px) {
  .about-me-avatar {
    height: calc(250px - 80px);
    width: calc(250px - 80px);
  }
}
.project {
  position: relative;
  border: 1px solid;
  border-radius: 6px;
  overflow: hidden;
  background-size: cover;
  width: 70vw;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 0 0;
  cursor: pointer;
  max-width: 900px;
}
.project:first-child {
  margin-top: 0;
}
@media (max-width: 414px) {
  .project {
    width: 85vw;
  }
}
.project-background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.project-image {
  position: absolute;
  width: 100%;
  height: 100%;
}
.project-content {
  padding: 12px 44px;
  color: white;
  background: black;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.07s linear;
}
@media (max-width: 414px) {
  .project-content {
    padding: 12px;
  }
}
.project-content__description {
  text-align: left;
}
.timeline {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.timeline::-webkit-scrollbar {
  display: none;
}
.progress {
  width: calc(100vw/5 * 2);
  height: 15px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}
.progress .progress-bar {
  display: block;
  height: 100%;
  background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
  background-size: 300% 100%;
  animation: progress-animation 2s linear infinite;
}
.skills {
  box-shadow: 1px 1px 6px lightgrey;
  border-radius: 6px;
  margin-bottom: 2rem;
  max-width: 700px;
  background: white;
}
.skills-container {
  padding: 0 20px 20px 20px;
}
.skills .title {
  padding: 10px 10px 20px;
  font-size: 2rem;
}
.skills .skill {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills .skill > * {
  display: inline-block;
}
.skills .skill-name {
  font-size: 1.5rem;
  width: calc(100vw/4);
  text-align: right;
  padding-right: 30px;
}
@keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
.get-in-touch {
  width: 50%;
}
.get-in-touch input,
.get-in-touch textarea {
  margin: 4px;
}
@media (max-width: 414px) {
  .get-in-touch {
    width: 80%;
  }
}
.get-in-touch h2 {
  margin-top: 0;
}
.get-in-touch textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
}
@media (max-width: 414px) {
  .get-in-touch textarea {
    min-height: 100px;
  }
}
.get-in-touch button[type=submit] {
  margin-bottom: 20px;
}
/*# sourceMappingURL=App.css.map */